.title {
    background-color: blue;
    height: 172px;
}

.stock {
    background-color: pink;
    height: 172px;
}
.word {
    background-color: purple;
    position: absolute;
    width: 1420px;
    height: 103px;
    left: 58px;
    top: 192px;
    border-radius: 6px;
}
